@model List<Alumnos>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">Index</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 d-flex justify-content-start">
            <a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Alumnos"><span class="fas fa-plus"></span> Agregar</a>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 mt-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var alumno in Model)
                    {
                        <tr>
                            <td>@alumno.AlumnoId</td>
                            <td>@alumno.Nombres</td>
                            <td>@alumno.Apellidos</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
